---
import { getCollection } from "astro:content";
import Card from "@/components/Card.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { getArchiveGroups } from "@/features/blog/utils/getArchiveGroups";
import Layout from "@/layouts/Layout.astro";
import { SITE } from "@/site-config.js";

// Redirect to 404 page if `showArchives` config is false
if (!SITE.showArchives) {
  return Astro.redirect("/404");
}

const posts = await getCollection("blog");
const archiveGroups = getArchiveGroups(posts);

const months = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];
---

<Layout title={`Archives | ${SITE.title}`}>
  <Header />
  <main id="main-content" class="mx-auto w-full max-w-3xl px-4 pb-4">
    <h1 class="text-2xl font-semibold sm:text-3xl mt-8">Archives</h1>
    <p class="mt-2 mb-6 italic">Browse all posts by year and month</p>
    {
      archiveGroups.map((yearGroup) => (
          <div class="mb-8">
            <h2 class="text-2xl font-bold mb-6 border-b border-accent pb-2">
              {yearGroup.year}
              <sup class="text-sm ml-1">
                {yearGroup.months.reduce((count, monthGroup) => count + monthGroup.posts.length, 0)}
              </sup>
            </h2>
            {yearGroup.months.map((monthGroup) => (
                <div class="mt-8">
                  <h3 class="text-xl font-bold mb-4">
                    {months[monthGroup.month - 1]}
                    <sup class="text-sm ml-1">{monthGroup.posts.length}</sup>
                  </h3>
                  <ul>
                    {monthGroup.posts.map((data) => <Card {...data} />)}
                  </ul>
                </div>
              ))}
          </div>
        ))
    }
  </main>
  <Footer />
</Layout>
